<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Dashboard - Admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--base css styles-->
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">

        
        <!--page specific css styles-->
        <link rel="stylesheet" href="../assets/data-tables/bootstrap3/dataTables.bootstrap.css" />

        <!--flaty css styles-->
        <link rel="stylesheet" href="../css/flaty.css">
        <link rel="stylesheet" href="../css/flaty-responsive.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/edit.css">

        <link rel="shortcut icon" href="../img/favicon.png">
    </head>
    <body>

        <!-- BEGIN Theme Setting -->
        <div id="theme-setting">
            <a href="#"><i class="fa fa-gears fa fa-2x"></i></a>
            <ul>
                <li>
                    <span>Skin</span>
                    <ul class="colors" data-target="body" data-prefix="skin-">
                        <li class="active"><a class="blue" href="#"></a></li>
                        <li><a class="red" href="#"></a></li>
                        <li><a class="green" href="#"></a></li>
                        <li><a class="orange" href="#"></a></li>
                        <li><a class="yellow" href="#"></a></li>
                        <li><a class="pink" href="#"></a></li>
                        <li><a class="magenta" href="#"></a></li>
                        <li><a class="gray" href="#"></a></li>
                        <li><a class="black" href="#"></a></li>
                    </ul>
                </li>
                <li>
                    <span>Navbar</span>
                    <ul class="colors" data-target="#navbar" data-prefix="navbar-">
                        <li class="active"><a class="blue" href="#"></a></li>
                        <li><a class="red" href="#"></a></li>
                        <li><a class="green" href="#"></a></li>
                        <li><a class="orange" href="#"></a></li>
                        <li><a class="yellow" href="#"></a></li>
                        <li><a class="pink" href="#"></a></li>
                        <li><a class="magenta" href="#"></a></li>
                        <li><a class="gray" href="#"></a></li>
                        <li><a class="black" href="#"></a></li>
                    </ul>
                </li>
                <li>
                    <span>Sidebar</span>
                    <ul class="colors" data-target="#main-container" data-prefix="sidebar-">
                        <li class="active"><a class="blue" href="#"></a></li>
                        <li><a class="red" href="#"></a></li>
                        <li><a class="green" href="#"></a></li>
                        <li><a class="orange" href="#"></a></li>
                        <li><a class="yellow" href="#"></a></li>
                        <li><a class="pink" href="#"></a></li>
                        <li><a class="magenta" href="#"></a></li>
                        <li><a class="gray" href="#"></a></li>
                        <li><a class="black" href="#"></a></li>
                    </ul>
                </li>
                <li>
                    <span></span>
                    <a data-target="navbar" href="#"><i class="fa fa-square-o"></i> Fixed Navbar</a>
                    <a class="hidden-inline-xs" data-target="sidebar" href="#"><i class="fa fa-square-o"></i> Fixed Sidebar</a>
                </li>
            </ul>
        </div>
        <!-- END Theme Setting -->

        <!-- BEGIN Navbar -->
        <div id="navbar" class="navbar">
            <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="#">
                <small>
                    <i class="fa fa-html5"></i>
                    SMART MEDIA ADMIN
                </small>
            </a>

            <!-- BEGIN Navbar Buttons -->
            <ul class="nav flaty-nav pull-right">
                <!-- BEGIN Button Notifications -->
                <li class="hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-important">5</span>
                    </a>

                    <!-- BEGIN Notifications Dropdown -->
                    <ul class="dropdown-navbar dropdown-menu">
                        <li class="nav-header">
                            <i class="fa fa-warning"></i>
                            5 Notifications
                        </li>

                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-bullhorn orange"></i>
                                <p>Maintenance Announcement</p>
                                <span class="badge badge-warning">1</span>
                            </a>
                        </li>

                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-clock-o blue"></i>
                                <p>Site Expire Notice</p>
                                <span class="badge badge-info">1</span>
                            </a>
                        </li>

                        <li class="notify">
                            <a href="#">
                                <i class="fa fa-shopping-cart green"></i>
                                <p>You have pending payment</p>
                                <span class="badge badge-success">1</span>
                            </a>
                        </li>
                    </ul>
                    <!-- END Notifications Dropdown -->
                </li>
                <!-- END Button Notifications -->

                <!-- BEGIN Button Messages -->
                <li class="hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-success">3</span>
                    </a>

                    <!-- BEGIN Messages Dropdown -->
                    <ul class="dropdown-navbar dropdown-menu">
                        <li class="nav-header">
                            <i class="fa fa-comments"></i>
                            3 Messages
                        </li>

                        <li class="msg">
                            <a href="#">
                                <img src="../img/demo/avatar/avatar3.jpg" alt="Sarah's Avatar" />
                                <div>
                                    <span class="msg-title">Sarah</span>
                                    <span class="msg-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>a moment ago</span>
                                    </span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </a>
                        </li>

                        <li class="msg">
                            <a href="#">
                                <img src="../img/demo/avatar/avatar4.jpg" alt="Emma's Avatar" />
                                <div>
                                    <span class="msg-title">Emma</span>
                                    <span class="msg-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2 Days ago</span>
                                    </span>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</p>
                            </a>
                        </li>

                        <li class="msg">
                            <a href="#">
                                <img src="../img/demo/avatar/avatar5.jpg" alt="John's Avatar" />
                                <div>
                                    <span class="msg-title">John</span>
                                    <span class="msg-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>8:24 PM</span>
                                    </span>
                                </div>
                                <p>Duis aute irure dolor in reprehenderit in ...</p>
                            </a>
                        </li>

                        <li class="more">
                            <a href="#">See all messages</a>
                        </li>
                    </ul>
                    <!-- END Notifications Dropdown -->
                </li>
                <!-- END Button Messages -->

                <!-- BEGIN Button User -->
                <li class="user-profile">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                        <img class="nav-user-photo" src="../img/demo/avatar/avatar5.jpg" alt="Administrator's Photo" />
                        <span class="hhh" id="user_info">
                            Administrator
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </a>

                    <!-- BEGIN User Dropdown -->
                    <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                        <li class="nav-header">
                            <i class="fa fa-clock-o"></i>
                            Logined From 20:45
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                Account Settings
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i>
                                Edit Profile
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-question"></i>
                                Help
                            </a>
                        </li>

                        <li class="divider visible-xs"></li>

                        <li class="visible-xs">
                            <a href="#">
                                <i class="fa fa-tasks"></i>
                                Tasks
                                <span class="badge badge-warning">4</span>
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <i class="fa fa-bell"></i>
                                Notifications
                                <span class="badge badge-important">8</span>
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                Messages
                                <span class="badge badge-success">5</span>
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#">
                                <i class="fa fa-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                    <!-- BEGIN User Dropdown -->
                </li>
                <!-- END Button User -->
            </ul>
            <!-- END Navbar Buttons -->
        </div>
        <!-- END Navbar -->

        <!-- BEGIN Container -->
        <div class="container" id="main-container">
            <!-- BEGIN Sidebar -->
            <div id="sidebar" class="navbar-collapse collapse">
                <!-- BEGIN Navlist -->
                <ul class="nav nav-list">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-toggle">
                            <i class="fa fa-list-alt"></i>
                            <span>Transaction</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li><a href="transaction.html" >All Transaction</a></li>
                            <li><a href="transaction-awaiting.html">Awaiting Confirmation</a></li>
                            <li><a href="transaction-voucher.html">Voucher Activation</a></li>
                        </ul>
                        <!-- END Submenu -->
                    </li>


                    <li class="active">
                        <a href="clients.html">
                            <i class="fa fa-star"></i>
                            <span>Clients</span>
                        </a>

                    </li>

                    <li>
                        <a href="sites.html">
                            <i class="fa fa-desktop"></i>
                            <span>Sites</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Store</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li><a href="packages.html">Packages</a></li>
                            <li><a href="vouchers.html">Vouchers</a></li>
                            <li><a href="theme.html">Theme</a></li>
                        </ul>
                        <!-- END Submenu -->
                    </li>
                    
                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-lightbulb-o"></i>
                            <span>Knowledgebase</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li><a href="articles.html">Articles</a></li>
                            <li><a href="articles_category.html">Category</a></li>
                        </ul>
                        <!-- END Submenu -->

                    </li>

                    <li>
                        <a href="announcement.html">
                            <i class="fa fa-bullhorn"></i>
                            <span>Announcement</span>
                        </a>
                    </li>

                    <li>
                        <a href="users.html">
                            <i class="fa fa-users"></i>
                            <span>Users</span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-toggle">
                            <i class="fa fa-globe"></i>
                            <span>Support</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <ul class="submenu">
                            <li><a href="tickets.html" >Tickets</a></li>
                            <li><a href="departments.html">Departments</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- END Navlist -->

                <!-- BEGIN Sidebar Collapse Button -->
                <div id="sidebar-collapse" class="visible-lg">
                    <i class="fa fa-angle-double-left"></i>
                </div>
                <!-- END Sidebar Collapse Button -->
            </div>
            <!-- END Sidebar -->

            <!-- BEGIN Content -->
            <div id="main-content">
                <!-- BEGIN Page Title -->
                <div class="page-title">
                    <div>
                        <h1><i class="fa fa-user"></i>Client's Detail</h1>
                    </div>
                </div>
                <!-- END Page Title -->

               <!-- BEGIN Breadcrumb -->
                <div id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li>
                            <a href="clients.html">Client</a>
                            <span class="divider"><i class="fa fa-angle-right"></i></span>
                        </li>
                        <li class="active">Client Profile</li>
                    </ul>
                </div>
                <!-- END Breadcrumb -->

                <!-- BEGIN Main Content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-content">
                                <div class="tabbable">
                                    <ul id="myTab1" class="nav nav-tabs">
                                        <li class="active"><a href="#profile" data-toggle="tab"> Profile</a></li>
                                        <li><a href="#invoice" data-toggle="tab">Invoice</a></li>
                                        <li><a href="#sites" data-toggle="tab">Sites</a></li>
                                    </ul>
                                    <div id="myTabContent1" class="tab-content">
                                        <div class="tab-pane fade in active" id="profile">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <h3><strong>Profile</strong></h3>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p>Name</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>Andi Zain Ifkaruddin</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p>Company Name</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>Illiyin Studio</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p>Address</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>Perum Puri Nirwana Keben Kav 7 Sukun</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p>City</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>Malang</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p>Region</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>Jawa Timur - Indonesia</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p>ZIP Code</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>65118</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <img class="img-responsive img-thumbnail" src="../img/demo/profile-picture.jpg" alt="profile picture" width="200px" height="200px" style="float:right;">
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3><strong>Account Information</strong></h3>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Email</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>andizain@gmail.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Phone No.</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>081234567890</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Registered Since</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>01/05/2017</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3><strong>Billing Information</strong></h3>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Name</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>Andi Zain Ifkaruddin</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Company Name</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>Illiyin Studio</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Address</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>Perum Puri Nirwana Keben Kav 7 Sukun</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>City</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>Malang</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Region</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>Jawa Timur - Indonesia</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>ZIP Code</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>65118</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <p>Phone No.</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p>081234567890</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                        </div>
                                        <div class="tab-pane fade" id="invoice">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="panel-invoice">
                                                        <p class="text-right">4</p>
                                                        <p class="text-right">INVOICES</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="panel-invoice">
                                                        <p class="text-right">1</p>
                                                        <p class="text-right">INVOICE DUE</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="panel-invoice">
                                                        <p class="text-right">Rp 667</p>
                                                        <p class="text-right">CLIENT'S BALANCE</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive" style="border:0">
                                                        <table class="table" id="table1">
                                                            <thead>
                                                                <tr>
                                                                    <th>Invoice #</th>
                                                                    <th>Invoice Date</th>
                                                                    <th>Due Date</th>
                                                                    <th>Total</th>
                                                                    <th>Date of Payment</th>
                                                                    <th>Status</th>
                                                                    <th class="tex-center">Detail</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="table-flag-blue">
                                                                    <td>124141</td>
                                                                    <td>12/05/2017</td>
                                                                    <td>12/05/2017</td>
                                                                    <td>Rp 123.000</td>
                                                                    <td>13/05/2017</td>
                                                                    <td><span class="label label-success">Paid</span></td>
                                                                    <td>Detail</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>941237</td>
                                                                    <td>13/05/2017</td>
                                                                    <td>13/06/2017</td>
                                                                    <td>Rp 25.000</td>
                                                                    <td>14/05/2017</td>
                                                                    <td><span class="label label-gray">Canceled</span></td>
                                                                    <td>Detail</td>
                                                                </tr>
                                                                <tr class="table-flag-orange">
                                                                    <td>771263</td>
                                                                    <td>14/05/2017</td>
                                                                    <td>14/06/2017</td>
                                                                    <td>Rp 90.000</td>
                                                                    <td>15/05/2017</td>
                                                                    <td><span class="label label-success">Paid</span></td>
                                                                    <td>Detail</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>123123</td>
                                                                    <td>15/05/2017</td>
                                                                    <td>15/06/2017</td>
                                                                    <td>Rp 64.000</td>
                                                                    <td>16/05/2017</td>
                                                                    <td><span class="label label-warning">Unpaid</span></td>
                                                                    <td>Detail</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="sites">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="panel-invoice">
                                                        <p class="text-right">3</p>
                                                        <p class="text-right">TOTAL SITE</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="panel-invoice">
                                                        <p class="text-right">200 MB / 2 GB</p>
                                                        <p class="text-right">TOTAL STORAGE</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="panel-invoice">
                                                        <p class="text-right">3</p>
                                                        <p class="text-right">WEBMAIL ACCOUNT</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3><strong>Client's Site</strong></h3>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <img class="img-responsive img-thumbnail" src="../img/demo/profile-picture.jpg" alt="profile picture">
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Site Name</strong></p>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <p>My Site</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Site Address</strong></p>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <a href="#">subdomain.voucher.co.id</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Web Mail</strong></p>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <a href="#">subdomain@voucher.co.id</a>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Storage</strong></p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Used</p>
                                                                    <p>200 MB</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Total</p>
                                                                    <p>2046 MB</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Bandwith</strong></p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Used</p>
                                                                    <p>200 MB</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Total</p>
                                                                    <p>1024 MB</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <img class="img-responsive img-thumbnail" src="../img/demo/profile-picture.jpg" alt="profile picture">
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Site Name</strong></p>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <p>My Site</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Site Address</strong></p>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <a href="#">subdomain.voucher.co.id</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Web Mail</strong></p>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <a href="#">subdomain@voucher.co.id</a>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Storage</strong></p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Used</p>
                                                                    <p>200 MB</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Total</p>
                                                                    <p>2046 MB</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Bandwith</strong></p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Used</p>
                                                                    <p>200 MB</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p>Total</p>
                                                                    <p>1024 MB</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Main Content -->
                
                <footer>
                    <p>2017 © Andrian Smart Media</p>
                </footer>

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
            <!-- END Content -->
        </div>
        <!-- END Container -->


        <!--basic scripts-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../assets/jquery/jquery-2.1.4.min.js"><\/script>')</script>
        <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../assets/jquery-cookie/jquery.cookie.js"></script>

        <!--page specific plugin scripts-->
        <script type="text/javascript" src="../assets/data-tables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>


        <!--flaty scripts-->
        <script src="../js/flaty.js"></script>
        <script src="../js/flaty-demo-codes.js"></script>

        <script type="text/javascript">
            $(document).ready( function() {
              $('#transaction-table').dataTable( {
                "aoColumnDefs": [
                  { "bSortable": true, "aTargets": [ 7 ] }
                ] } );
            } );
        </script>
    </body>
</html>
